canvas {
  display: block;
}
-#content {

+#content {
}

#text {
  display: block;
  margin-top: 440px;
@@ -20,6 +21,7 @@ canvas {
  /* text-align: center; */
  background-color: #dedede;
}

#footer {
    position: absolute;
    bottom: 10px;
